<template>
  <div>
    <h2 id="page-heading" data-cy="ActivityHeading">
      <span v-text="$t('foodbankVolunteerRegistrationApp.activity.home.title')" id="activity-heading">Activities</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('foodbankVolunteerRegistrationApp.activity.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link
          :to="{ name: 'ActivityCreate' }"
          tag="button"
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-activity"
        >
          <font-awesome-icon icon="plus"></font-awesome-icon>
          <span v-text="$t('foodbankVolunteerRegistrationApp.activity.home.createLabel')"> Create a new Activity </span>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && activities && activities.length === 0">
      <span v-text="$t('foodbankVolunteerRegistrationApp.activity.home.notFound')">No activities found</span>
    </div>
    <div class="table-responsive" v-if="activities && activities.length > 0">
      <table class="table table-striped" aria-describedby="activities">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('group')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.activity.group')">Group</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'group'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('name')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.activity.name')">Name</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'name'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('description')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.activity.description')">Description</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'description'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('picture')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.activity.picture')">Picture</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'picture'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('foodbankRegion.name')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.activity.foodbankRegion')">Foodbank Region</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'foodbankRegion.name'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="activity in activities" :key="activity.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ActivityView', params: { activityId: activity.id } }">{{ activity.id }}</router-link>
            </td>
            <td v-text="$t('foodbankVolunteerRegistrationApp.GroupType.' + activity.group)">{{ activity.group }}</td>
            <td>{{ activity.name }}</td>
            <td>{{ activity.description }}</td>
            <td>
              <a v-if="activity.picture" v-on:click="openFile(activity.pictureContentType, activity.picture)">
                <img
                  v-bind:src="'data:' + activity.pictureContentType + ';base64,' + activity.picture"
                  style="max-height: 30px"
                  alt="activity image"
                />
              </a>
              <span v-if="activity.picture">{{ activity.pictureContentType }}, {{ byteSize(activity.picture) }}</span>
            </td>
            <td>
              <div v-if="activity.foodbankRegion">
                <router-link :to="{ name: 'FoodbankRegionView', params: { foodbankRegionId: activity.foodbankRegion.id } }">{{
                  activity.foodbankRegion.name
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'ActivityView', params: { activityId: activity.id } }"
                  tag="button"
                  class="btn btn-info btn-sm details"
                  data-cy="entityDetailsButton"
                >
                  <font-awesome-icon icon="eye"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                </router-link>
                <router-link
                  :to="{ name: 'ActivityEdit', params: { activityId: activity.id } }"
                  tag="button"
                  class="btn btn-primary btn-sm edit"
                  data-cy="entityEditButton"
                >
                  <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(activity)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="foodbankVolunteerRegistrationApp.activity.delete.question"
          data-cy="activityDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-activity-heading" v-text="$t('foodbankVolunteerRegistrationApp.activity.delete.question', { id: removeId })">
          Are you sure you want to delete this Activity?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-activity"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeActivity()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="activities && activities.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./activity.component.ts"></script>
