<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="foodbankVolunteerRegistrationApp.activity.home.createOrEditLabel"
          data-cy="ActivityCreateUpdateHeading"
          v-text="$t('foodbankVolunteerRegistrationApp.activity.home.createOrEditLabel')"
        >
          Create or edit a Activity
        </h2>
        <div>
          <div class="form-group" v-if="activity.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="activity.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.activity.group')" for="activity-group"
              >Group</label
            >
            <select
              class="form-control"
              name="group"
              :class="{ valid: !$v.activity.group.$invalid, invalid: $v.activity.group.$invalid }"
              v-model="$v.activity.group.$model"
              id="activity-group"
              data-cy="group"
              required
            >
              <option value="ONE" v-bind:label="$t('foodbankVolunteerRegistrationApp.GroupType.ONE')">ONE</option>
              <option value="MORE_THAN_ONE" v-bind:label="$t('foodbankVolunteerRegistrationApp.GroupType.MORE_THAN_ONE')">
                MORE_THAN_ONE
              </option>
              <option value="BOTH" v-bind:label="$t('foodbankVolunteerRegistrationApp.GroupType.BOTH')">BOTH</option>
            </select>
            <div v-if="$v.activity.group.$anyDirty && $v.activity.group.$invalid">
              <small class="form-text text-danger" v-if="!$v.activity.group.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.activity.name')" for="activity-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="activity-name"
              data-cy="name"
              :class="{ valid: !$v.activity.name.$invalid, invalid: $v.activity.name.$invalid }"
              v-model="$v.activity.name.$model"
              required
            />
            <div v-if="$v.activity.name.$anyDirty && $v.activity.name.$invalid">
              <small class="form-text text-danger" v-if="!$v.activity.name.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.activity.name.minLength"
                v-text="$t('entity.validation.minlength', { min: 2 })"
              >
                This field is required to be at least 2 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.activity.name.maxLength"
                v-text="$t('entity.validation.maxlength', { max: 255 })"
              >
                This field cannot be longer than 255 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('foodbankVolunteerRegistrationApp.activity.description')"
              for="activity-description"
              >Description</label
            >
            <textarea
              class="form-control"
              name="description"
              id="activity-description"
              data-cy="description"
              :class="{ valid: !$v.activity.description.$invalid, invalid: $v.activity.description.$invalid }"
              v-model="$v.activity.description.$model"
              required
            ></textarea>
            <div v-if="$v.activity.description.$anyDirty && $v.activity.description.$invalid">
              <small class="form-text text-danger" v-if="!$v.activity.description.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.activity.picture')" for="activity-picture"
              >Picture</label
            >
            <div>
              <img
                v-bind:src="'data:' + activity.pictureContentType + ';base64,' + activity.picture"
                style="max-height: 100px"
                v-if="activity.picture"
                alt="activity image"
              />
              <div v-if="activity.picture" class="form-text text-danger clearfix">
                <span class="pull-left">{{ activity.pictureContentType }}, {{ byteSize(activity.picture) }}</span>
                <button
                  type="button"
                  v-on:click="clearInputImage('picture', 'pictureContentType', 'file_picture')"
                  class="btn btn-secondary btn-xs pull-right"
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                </button>
              </div>
              <input
                type="file"
                ref="file_picture"
                id="file_picture"
                data-cy="picture"
                v-on:change="setFileData($event, activity, 'picture', true)"
                accept="image/*"
                v-text="$t('entity.action.addimage')"
              />
            </div>
            <input
              type="hidden"
              class="form-control"
              name="picture"
              id="activity-picture"
              data-cy="picture"
              :class="{ valid: !$v.activity.picture.$invalid, invalid: $v.activity.picture.$invalid }"
              v-model="$v.activity.picture.$model"
            />
            <input
              type="hidden"
              class="form-control"
              name="pictureContentType"
              id="activity-pictureContentType"
              v-model="activity.pictureContentType"
            />
            <div v-if="$v.activity.picture.$anyDirty && $v.activity.picture.$invalid"></div>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('foodbankVolunteerRegistrationApp.activity.foodbankRegion')"
              for="activity-foodbankRegion"
              >Foodbank Region</label
            >
            <select
              class="form-control"
              id="activity-foodbankRegion"
              data-cy="foodbankRegion"
              name="foodbankRegion"
              v-model="activity.foodbankRegion"
              required
            >
              <option v-if="!activity.foodbankRegion" v-bind:value="null" selected></option>
              <option
                v-bind:value="
                  activity.foodbankRegion && foodbankRegionOption.id === activity.foodbankRegion.id
                    ? activity.foodbankRegion
                    : foodbankRegionOption
                "
                v-for="foodbankRegionOption in foodbankRegions"
                :key="foodbankRegionOption.id"
              >
                {{ foodbankRegionOption.name }}
              </option>
            </select>
          </div>
          <div v-if="$v.activity.foodbankRegion.$anyDirty && $v.activity.foodbankRegion.$invalid">
            <small class="form-text text-danger" v-if="!$v.activity.foodbankRegion.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.activity.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./activity-update.component.ts"></script>
