<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="activity">
        <h2 class="jh-entity-heading" data-cy="activityDetailsHeading">
          <span v-text="$t('foodbankVolunteerRegistrationApp.activity.detail.title')">Activity</span> {{ activity.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.activity.group')">Group</span>
          </dt>
          <dd>
            <span v-text="$t('foodbankVolunteerRegistrationApp.GroupType.' + activity.group)">{{ activity.group }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.activity.name')">Name</span>
          </dt>
          <dd>
            <span>{{ activity.name }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.activity.description')">Description</span>
          </dt>
          <dd>
            <span>{{ activity.description }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.activity.picture')">Picture</span>
          </dt>
          <dd>
            <div v-if="activity.picture">
              <a v-on:click="openFile(activity.pictureContentType, activity.picture)">
                <img
                  v-bind:src="'data:' + activity.pictureContentType + ';base64,' + activity.picture"
                  style="max-width: 100%"
                  alt="activity image"
                />
              </a>
              {{ activity.pictureContentType }}, {{ byteSize(activity.picture) }}
            </div>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.activity.foodbankRegion')">Foodbank Region</span>
          </dt>
          <dd>
            <div v-if="activity.foodbankRegion">
              <router-link :to="{ name: 'FoodbankRegionView', params: { foodbankRegionId: activity.foodbankRegion.id } }">{{
                activity.foodbankRegion.name
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="activity.id"
          :to="{ name: 'ActivityEdit', params: { activityId: activity.id } }"
          tag="button"
          class="btn btn-primary"
        >
          <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./activity-details.component.ts"></script>
