<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="location">
        <h2 class="jh-entity-heading" data-cy="locationDetailsHeading">
          <span v-text="$t('foodbankVolunteerRegistrationApp.location.detail.title')">Location</span> {{ location.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.location.name')">Name</span>
          </dt>
          <dd>
            <span>{{ location.name }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.location.address')">Address</span>
          </dt>
          <dd>
            <span>{{ location.address }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.location.longitude')">Longitude</span>
          </dt>
          <dd>
            <span>{{ location.longitude }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.location.latitude')">Latitude</span>
          </dt>
          <dd>
            <span>{{ location.latitude }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.location.foodbankRegion')">Foodbank Region</span>
          </dt>
          <dd>
            <div v-if="location.foodbankRegion">
              <router-link :to="{ name: 'FoodbankRegionView', params: { foodbankRegionId: location.foodbankRegion.id } }">{{
                location.foodbankRegion.name
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="location.id"
          :to="{ name: 'LocationEdit', params: { locationId: location.id } }"
          tag="button"
          class="btn btn-primary"
        >
          <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./location-details.component.ts"></script>
