<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="foodbankVolunteerRegistrationApp.location.home.createOrEditLabel"
          data-cy="LocationCreateUpdateHeading"
          v-text="$t('foodbankVolunteerRegistrationApp.location.home.createOrEditLabel')"
        >
          Create or edit a Location
        </h2>
        <div>
          <div class="form-group" v-if="location.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="location.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.location.name')" for="location-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="location-name"
              data-cy="name"
              :class="{ valid: !$v.location.name.$invalid, invalid: $v.location.name.$invalid }"
              v-model="$v.location.name.$model"
              required
            />
            <div v-if="$v.location.name.$anyDirty && $v.location.name.$invalid">
              <small class="form-text text-danger" v-if="!$v.location.name.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.location.name.minLength"
                v-text="$t('entity.validation.minlength', { min: 2 })"
              >
                This field is required to be at least 2 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.location.name.maxLength"
                v-text="$t('entity.validation.maxlength', { max: 255 })"
              >
                This field cannot be longer than 255 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.location.address')" for="location-address"
              >Address</label
            >
            <input
              type="text"
              class="form-control"
              name="address"
              id="location-address"
              data-cy="address"
              :class="{ valid: !$v.location.address.$invalid, invalid: $v.location.address.$invalid }"
              v-model="$v.location.address.$model"
              required
            />
            <div v-if="$v.location.address.$anyDirty && $v.location.address.$invalid">
              <small class="form-text text-danger" v-if="!$v.location.address.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.location.address.minLength"
                v-text="$t('entity.validation.minlength', { min: 2 })"
              >
                This field is required to be at least 2 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.location.address.maxLength"
                v-text="$t('entity.validation.maxlength', { max: 255 })"
              >
                This field cannot be longer than 255 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.location.longitude')" for="location-longitude"
              >Longitude</label
            >
            <input
              type="number"
              class="form-control"
              name="longitude"
              id="location-longitude"
              data-cy="longitude"
              :class="{ valid: !$v.location.longitude.$invalid, invalid: $v.location.longitude.$invalid }"
              v-model.number="$v.location.longitude.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.location.latitude')" for="location-latitude"
              >Latitude</label
            >
            <input
              type="number"
              class="form-control"
              name="latitude"
              id="location-latitude"
              data-cy="latitude"
              :class="{ valid: !$v.location.latitude.$invalid, invalid: $v.location.latitude.$invalid }"
              v-model.number="$v.location.latitude.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('foodbankVolunteerRegistrationApp.location.foodbankRegion')"
              for="location-foodbankRegion"
              >Foodbank Region</label
            >
            <select
              class="form-control"
              id="location-foodbankRegion"
              data-cy="foodbankRegion"
              name="foodbankRegion"
              v-model="location.foodbankRegion"
              required
            >
              <option v-if="!location.foodbankRegion" v-bind:value="null" selected></option>
              <option
                v-bind:value="
                  location.foodbankRegion && foodbankRegionOption.id === location.foodbankRegion.id
                    ? location.foodbankRegion
                    : foodbankRegionOption
                "
                v-for="foodbankRegionOption in foodbankRegions"
                :key="foodbankRegionOption.id"
              >
                {{ foodbankRegionOption.name }}
              </option>
            </select>
          </div>
          <div v-if="$v.location.foodbankRegion.$anyDirty && $v.location.foodbankRegion.$invalid">
            <small class="form-text text-danger" v-if="!$v.location.foodbankRegion.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.location.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./location-update.component.ts"></script>
