<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="foodbankVolunteerRegistrationApp.template.home.createOrEditLabel"
          data-cy="TemplateCreateUpdateHeading"
          v-text="$t('foodbankVolunteerRegistrationApp.template.home.createOrEditLabel')"
        >
          Create or edit a Template
        </h2>
        <div>
          <div class="form-group" v-if="template.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="template.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.template.pageHeader')" for="template-pageHeader"
              >Page Header</label
            >
            <textarea
              class="form-control"
              name="pageHeader"
              id="template-pageHeader"
              data-cy="pageHeader"
              :class="{ valid: !$v.template.pageHeader.$invalid, invalid: $v.template.pageHeader.$invalid }"
              v-model="$v.template.pageHeader.$model"
              required
            ></textarea>
            <div v-if="$v.template.pageHeader.$anyDirty && $v.template.pageHeader.$invalid">
              <small class="form-text text-danger" v-if="!$v.template.pageHeader.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.template.pageFooter')" for="template-pageFooter"
              >Page Footer</label
            >
            <textarea
              class="form-control"
              name="pageFooter"
              id="template-pageFooter"
              data-cy="pageFooter"
              :class="{ valid: !$v.template.pageFooter.$invalid, invalid: $v.template.pageFooter.$invalid }"
              v-model="$v.template.pageFooter.$model"
              required
            ></textarea>
            <div v-if="$v.template.pageFooter.$anyDirty && $v.template.pageFooter.$invalid">
              <small class="form-text text-danger" v-if="!$v.template.pageFooter.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('foodbankVolunteerRegistrationApp.template.qualityBadgeText')"
              for="template-qualityBadgeText"
              >Quality Badge Text</label
            >
            <textarea
              class="form-control"
              name="qualityBadgeText"
              id="template-qualityBadgeText"
              data-cy="qualityBadgeText"
              :class="{ valid: !$v.template.qualityBadgeText.$invalid, invalid: $v.template.qualityBadgeText.$invalid }"
              v-model="$v.template.qualityBadgeText.$model"
              required
            ></textarea>
            <div v-if="$v.template.qualityBadgeText.$anyDirty && $v.template.qualityBadgeText.$invalid">
              <small class="form-text text-danger" v-if="!$v.template.qualityBadgeText.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.template.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./template-update.component.ts"></script>
