<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="template">
        <h2 class="jh-entity-heading" data-cy="templateDetailsHeading">
          <span v-text="$t('foodbankVolunteerRegistrationApp.template.detail.title')">Template</span> {{ template.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.template.pageHeader')">Page Header</span>
          </dt>
          <dd>
            <span>{{ template.pageHeader }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.template.pageFooter')">Page Footer</span>
          </dt>
          <dd>
            <span>{{ template.pageFooter }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.template.qualityBadgeText')">Quality Badge Text</span>
          </dt>
          <dd>
            <span>{{ template.qualityBadgeText }}</span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="template.id"
          :to="{ name: 'TemplateEdit', params: { templateId: template.id } }"
          tag="button"
          class="btn btn-primary"
        >
          <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./template-details.component.ts"></script>
