<template>
  <div>
    <h2 id="page-heading" data-cy="TemplateHeading">
      <span v-text="$t('foodbankVolunteerRegistrationApp.template.home.title')" id="template-heading">Templates</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('foodbankVolunteerRegistrationApp.template.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link
          :to="{ name: 'TemplateCreate' }"
          tag="button"
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-template"
        >
          <font-awesome-icon icon="plus"></font-awesome-icon>
          <span v-text="$t('foodbankVolunteerRegistrationApp.template.home.createLabel')"> Create a new Template </span>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && templates && templates.length === 0">
      <span v-text="$t('foodbankVolunteerRegistrationApp.template.home.notFound')">No templates found</span>
    </div>
    <div class="table-responsive" v-if="templates && templates.length > 0">
      <table class="table table-striped" aria-describedby="templates">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('pageHeader')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.template.pageHeader')">Page Header</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'pageHeader'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('pageFooter')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.template.pageFooter')">Page Footer</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'pageFooter'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('qualityBadgeText')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.template.qualityBadgeText')">Quality Badge Text</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'qualityBadgeText'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="template in templates" :key="template.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'TemplateView', params: { templateId: template.id } }">{{ template.id }}</router-link>
            </td>
            <td>{{ template.pageHeader }}</td>
            <td>{{ template.pageFooter }}</td>
            <td>{{ template.qualityBadgeText }}</td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'TemplateView', params: { templateId: template.id } }"
                  tag="button"
                  class="btn btn-info btn-sm details"
                  data-cy="entityDetailsButton"
                >
                  <font-awesome-icon icon="eye"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                </router-link>
                <router-link
                  :to="{ name: 'TemplateEdit', params: { templateId: template.id } }"
                  tag="button"
                  class="btn btn-primary btn-sm edit"
                  data-cy="entityEditButton"
                >
                  <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(template)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="foodbankVolunteerRegistrationApp.template.delete.question"
          data-cy="templateDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-template-heading" v-text="$t('foodbankVolunteerRegistrationApp.template.delete.question', { id: removeId })">
          Are you sure you want to delete this Template?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-template"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeTemplate()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="templates && templates.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./template.component.ts"></script>
