<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="foodbankRegion">
        <h2 class="jh-entity-heading" data-cy="foodbankRegionDetailsHeading">
          <span v-text="$t('foodbankVolunteerRegistrationApp.foodbankRegion.detail.title')">FoodbankRegion</span> {{ foodbankRegion.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.foodbankRegion.name')">Name</span>
          </dt>
          <dd>
            <span>{{ foodbankRegion.name }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.foodbankRegion.description')">Description</span>
          </dt>
          <dd>
            <span>{{ foodbankRegion.description }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.foodbankRegion.qualityBadge')">Quality Badge</span>
          </dt>
          <dd>
            <span>{{ foodbankRegion.qualityBadge }}</span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="foodbankRegion.id"
          :to="{ name: 'FoodbankRegionEdit', params: { foodbankRegionId: foodbankRegion.id } }"
          tag="button"
          class="btn btn-primary"
        >
          <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./foodbank-region-details.component.ts"></script>
