<template>
  <div>
    <h2 id="page-heading" data-cy="FoodbankRegionHeading">
      <span v-text="$t('foodbankVolunteerRegistrationApp.foodbankRegion.home.title')" id="foodbank-region-heading">Foodbank Regions</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('foodbankVolunteerRegistrationApp.foodbankRegion.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link
          :to="{ name: 'FoodbankRegionCreate' }"
          tag="button"
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-foodbank-region"
        >
          <font-awesome-icon icon="plus"></font-awesome-icon>
          <span v-text="$t('foodbankVolunteerRegistrationApp.foodbankRegion.home.createLabel')"> Create a new Foodbank Region </span>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && foodbankRegions && foodbankRegions.length === 0">
      <span v-text="$t('foodbankVolunteerRegistrationApp.foodbankRegion.home.notFound')">No foodbankRegions found</span>
    </div>
    <div class="table-responsive" v-if="foodbankRegions && foodbankRegions.length > 0">
      <table class="table table-striped" aria-describedby="foodbankRegions">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('name')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.foodbankRegion.name')">Name</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'name'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('description')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.foodbankRegion.description')">Description</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'description'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('qualityBadge')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.foodbankRegion.qualityBadge')">Quality Badge</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'qualityBadge'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="foodbankRegion in foodbankRegions" :key="foodbankRegion.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'FoodbankRegionView', params: { foodbankRegionId: foodbankRegion.id } }">{{
                foodbankRegion.id
              }}</router-link>
            </td>
            <td>{{ foodbankRegion.name }}</td>
            <td>{{ foodbankRegion.description }}</td>
            <td>{{ foodbankRegion.qualityBadge }}</td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'FoodbankRegionView', params: { foodbankRegionId: foodbankRegion.id } }"
                  tag="button"
                  class="btn btn-info btn-sm details"
                  data-cy="entityDetailsButton"
                >
                  <font-awesome-icon icon="eye"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                </router-link>
                <router-link
                  :to="{ name: 'FoodbankRegionEdit', params: { foodbankRegionId: foodbankRegion.id } }"
                  tag="button"
                  class="btn btn-primary btn-sm edit"
                  data-cy="entityEditButton"
                >
                  <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(foodbankRegion)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="foodbankVolunteerRegistrationApp.foodbankRegion.delete.question"
          data-cy="foodbankRegionDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p
          id="jhi-delete-foodbankRegion-heading"
          v-text="$t('foodbankVolunteerRegistrationApp.foodbankRegion.delete.question', { id: removeId })"
        >
          Are you sure you want to delete this Foodbank Region?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-foodbankRegion"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeFoodbankRegion()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="foodbankRegions && foodbankRegions.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./foodbank-region.component.ts"></script>
