<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="foodbankVolunteerRegistrationApp.foodbankRegion.home.createOrEditLabel"
          data-cy="FoodbankRegionCreateUpdateHeading"
          v-text="$t('foodbankVolunteerRegistrationApp.foodbankRegion.home.createOrEditLabel')"
        >
          Create or edit a FoodbankRegion
        </h2>
        <div>
          <div class="form-group" v-if="foodbankRegion.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="foodbankRegion.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.foodbankRegion.name')" for="foodbank-region-name"
              >Name</label
            >
            <input
              type="text"
              class="form-control"
              name="name"
              id="foodbank-region-name"
              data-cy="name"
              :class="{ valid: !$v.foodbankRegion.name.$invalid, invalid: $v.foodbankRegion.name.$invalid }"
              v-model="$v.foodbankRegion.name.$model"
              required
            />
            <div v-if="$v.foodbankRegion.name.$anyDirty && $v.foodbankRegion.name.$invalid">
              <small class="form-text text-danger" v-if="!$v.foodbankRegion.name.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.foodbankRegion.name.minLength"
                v-text="$t('entity.validation.minlength', { min: 2 })"
              >
                This field is required to be at least 2 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.foodbankRegion.name.maxLength"
                v-text="$t('entity.validation.maxlength', { max: 255 })"
              >
                This field cannot be longer than 255 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('foodbankVolunteerRegistrationApp.foodbankRegion.description')"
              for="foodbank-region-description"
              >Description</label
            >
            <textarea
              class="form-control"
              name="description"
              id="foodbank-region-description"
              data-cy="description"
              :class="{ valid: !$v.foodbankRegion.description.$invalid, invalid: $v.foodbankRegion.description.$invalid }"
              v-model="$v.foodbankRegion.description.$model"
              required
            ></textarea>
            <div v-if="$v.foodbankRegion.description.$anyDirty && $v.foodbankRegion.description.$invalid">
              <small class="form-text text-danger" v-if="!$v.foodbankRegion.description.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('foodbankVolunteerRegistrationApp.foodbankRegion.qualityBadge')"
              for="foodbank-region-qualityBadge"
              >Quality Badge</label
            >
            <input
              type="checkbox"
              class="form-check"
              name="qualityBadge"
              id="foodbank-region-qualityBadge"
              data-cy="qualityBadge"
              :class="{ valid: !$v.foodbankRegion.qualityBadge.$invalid, invalid: $v.foodbankRegion.qualityBadge.$invalid }"
              v-model="$v.foodbankRegion.qualityBadge.$model"
            />
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.foodbankRegion.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./foodbank-region-update.component.ts"></script>
