<template>
  <div>
    <h2 id="page-heading" data-cy="VolunteerHeading">
      <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.home.title')" id="volunteer-heading">Volunteers</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link
          :to="{ name: 'VolunteerCreate' }"
          tag="button"
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-volunteer"
        >
          <font-awesome-icon icon="plus"></font-awesome-icon>
          <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.home.createLabel')"> Create a new Volunteer </span>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && volunteers && volunteers.length === 0">
      <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.home.notFound')">No volunteers found</span>
    </div>
    <div class="table-responsive" v-if="volunteers && volunteers.length > 0">
      <table class="table table-striped" aria-describedby="volunteers">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('firstName')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.firstName')">First Name</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'firstName'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('lastName')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.lastName')">Last Name</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'lastName'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('age')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.age')">Age</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'age'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('phone')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.phone')">Phone</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'phone'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('email')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.email')">Email</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'email'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('isGroup')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.isGroup')">Is Group</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'isGroup'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('groupName')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.groupName')">Group Name</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'groupName'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('groupParticipantCount')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.groupParticipantCount')">Group Participant Count</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'groupParticipantCount'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('notes')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.notes')">Notes</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'notes'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="volunteer in volunteers" :key="volunteer.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'VolunteerView', params: { volunteerId: volunteer.id } }">{{ volunteer.id }}</router-link>
            </td>
            <td>{{ volunteer.firstName }}</td>
            <td>{{ volunteer.lastName }}</td>
            <td>{{ volunteer.age }}</td>
            <td>{{ volunteer.phone }}</td>
            <td>{{ volunteer.email }}</td>
            <td>{{ volunteer.isGroup }}</td>
            <td>{{ volunteer.groupName }}</td>
            <td>{{ volunteer.groupParticipantCount }}</td>
            <td>{{ volunteer.notes }}</td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'VolunteerView', params: { volunteerId: volunteer.id } }"
                  tag="button"
                  class="btn btn-info btn-sm details"
                  data-cy="entityDetailsButton"
                >
                  <font-awesome-icon icon="eye"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                </router-link>
                <router-link
                  :to="{ name: 'VolunteerEdit', params: { volunteerId: volunteer.id } }"
                  tag="button"
                  class="btn btn-primary btn-sm edit"
                  data-cy="entityEditButton"
                >
                  <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(volunteer)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="foodbankVolunteerRegistrationApp.volunteer.delete.question"
          data-cy="volunteerDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-volunteer-heading" v-text="$t('foodbankVolunteerRegistrationApp.volunteer.delete.question', { id: removeId })">
          Are you sure you want to delete this Volunteer?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-volunteer"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeVolunteer()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="volunteers && volunteers.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./volunteer.component.ts"></script>
