<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="foodbankVolunteerRegistrationApp.volunteer.home.createOrEditLabel"
          data-cy="VolunteerCreateUpdateHeading"
          v-text="$t('foodbankVolunteerRegistrationApp.volunteer.home.createOrEditLabel')"
        >
          Create or edit a Volunteer
        </h2>
        <div>
          <div class="form-group" v-if="volunteer.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="volunteer.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.volunteer.firstName')" for="volunteer-firstName"
              >First Name</label
            >
            <input
              type="text"
              class="form-control"
              name="firstName"
              id="volunteer-firstName"
              data-cy="firstName"
              :class="{ valid: !$v.volunteer.firstName.$invalid, invalid: $v.volunteer.firstName.$invalid }"
              v-model="$v.volunteer.firstName.$model"
              required
            />
            <div v-if="$v.volunteer.firstName.$anyDirty && $v.volunteer.firstName.$invalid">
              <small class="form-text text-danger" v-if="!$v.volunteer.firstName.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.volunteer.firstName.minLength"
                v-text="$t('entity.validation.minlength', { min: 2 })"
              >
                This field is required to be at least 2 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.volunteer.firstName.maxLength"
                v-text="$t('entity.validation.maxlength', { max: 100 })"
              >
                This field cannot be longer than 100 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.volunteer.lastName')" for="volunteer-lastName"
              >Last Name</label
            >
            <input
              type="text"
              class="form-control"
              name="lastName"
              id="volunteer-lastName"
              data-cy="lastName"
              :class="{ valid: !$v.volunteer.lastName.$invalid, invalid: $v.volunteer.lastName.$invalid }"
              v-model="$v.volunteer.lastName.$model"
              required
            />
            <div v-if="$v.volunteer.lastName.$anyDirty && $v.volunteer.lastName.$invalid">
              <small class="form-text text-danger" v-if="!$v.volunteer.lastName.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.volunteer.lastName.minLength"
                v-text="$t('entity.validation.minlength', { min: 2 })"
              >
                This field is required to be at least 2 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.volunteer.lastName.maxLength"
                v-text="$t('entity.validation.maxlength', { max: 100 })"
              >
                This field cannot be longer than 100 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.volunteer.age')" for="volunteer-age">Age</label>
            <input
              type="number"
              class="form-control"
              name="age"
              id="volunteer-age"
              data-cy="age"
              :class="{ valid: !$v.volunteer.age.$invalid, invalid: $v.volunteer.age.$invalid }"
              v-model.number="$v.volunteer.age.$model"
              required
            />
            <div v-if="$v.volunteer.age.$anyDirty && $v.volunteer.age.$invalid">
              <small class="form-text text-danger" v-if="!$v.volunteer.age.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.volunteer.age.min" v-text="$t('entity.validation.min', { min: 5 })">
                This field should be at least 5.
              </small>
              <small class="form-text text-danger" v-if="!$v.volunteer.age.max" v-text="$t('entity.validation.max', { max: 100 })">
                This field cannot be longer than 100 characters.
              </small>
              <small class="form-text text-danger" v-if="!$v.volunteer.age.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.volunteer.phone')" for="volunteer-phone"
              >Phone</label
            >
            <input
              type="text"
              class="form-control"
              name="phone"
              id="volunteer-phone"
              data-cy="phone"
              :class="{ valid: !$v.volunteer.phone.$invalid, invalid: $v.volunteer.phone.$invalid }"
              v-model="$v.volunteer.phone.$model"
              required
            />
            <div v-if="$v.volunteer.phone.$anyDirty && $v.volunteer.phone.$invalid">
              <small class="form-text text-danger" v-if="!$v.volunteer.phone.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.volunteer.phone.minLength"
                v-text="$t('entity.validation.minlength', { min: 4 })"
              >
                This field is required to be at least 4 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.volunteer.phone.maxLength"
                v-text="$t('entity.validation.maxlength', { max: 21 })"
              >
                This field cannot be longer than 21 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.volunteer.phone.pattern"
                v-text="$t('entity.validation.pattern', { pattern: 'Phone' })"
              >
                This field should follow pattern for "Phone".
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.volunteer.email')" for="volunteer-email"
              >Email</label
            >
            <input
              type="text"
              class="form-control"
              name="email"
              id="volunteer-email"
              data-cy="email"
              :class="{ valid: !$v.volunteer.email.$invalid, invalid: $v.volunteer.email.$invalid }"
              v-model="$v.volunteer.email.$model"
              required
            />
            <div v-if="$v.volunteer.email.$anyDirty && $v.volunteer.email.$invalid">
              <small class="form-text text-danger" v-if="!$v.volunteer.email.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.volunteer.email.minLength"
                v-text="$t('entity.validation.minlength', { min: 6 })"
              >
                This field is required to be at least 6 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.volunteer.email.maxLength"
                v-text="$t('entity.validation.maxlength', { max: 254 })"
              >
                This field cannot be longer than 254 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.volunteer.email.pattern"
                v-text="$t('entity.validation.pattern', { pattern: 'Email' })"
              >
                This field should follow pattern for "Email".
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.volunteer.isGroup')" for="volunteer-isGroup"
              >Is Group</label
            >
            <input
              type="checkbox"
              class="form-check"
              name="isGroup"
              id="volunteer-isGroup"
              data-cy="isGroup"
              :class="{ valid: !$v.volunteer.isGroup.$invalid, invalid: $v.volunteer.isGroup.$invalid }"
              v-model="$v.volunteer.isGroup.$model"
              required
            />
            <div v-if="$v.volunteer.isGroup.$anyDirty && $v.volunteer.isGroup.$invalid">
              <small class="form-text text-danger" v-if="!$v.volunteer.isGroup.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.volunteer.groupName')" for="volunteer-groupName"
              >Group Name</label
            >
            <input
              type="text"
              class="form-control"
              name="groupName"
              id="volunteer-groupName"
              data-cy="groupName"
              :class="{ valid: !$v.volunteer.groupName.$invalid, invalid: $v.volunteer.groupName.$invalid }"
              v-model="$v.volunteer.groupName.$model"
            />
            <div v-if="$v.volunteer.groupName.$anyDirty && $v.volunteer.groupName.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.volunteer.groupName.minLength"
                v-text="$t('entity.validation.minlength', { min: 2 })"
              >
                This field is required to be at least 2 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.volunteer.groupName.maxLength"
                v-text="$t('entity.validation.maxlength', { max: 100 })"
              >
                This field cannot be longer than 100 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('foodbankVolunteerRegistrationApp.volunteer.groupParticipantCount')"
              for="volunteer-groupParticipantCount"
              >Group Participant Count</label
            >
            <input
              type="number"
              class="form-control"
              name="groupParticipantCount"
              id="volunteer-groupParticipantCount"
              data-cy="groupParticipantCount"
              :class="{ valid: !$v.volunteer.groupParticipantCount.$invalid, invalid: $v.volunteer.groupParticipantCount.$invalid }"
              v-model.number="$v.volunteer.groupParticipantCount.$model"
            />
            <div v-if="$v.volunteer.groupParticipantCount.$anyDirty && $v.volunteer.groupParticipantCount.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.volunteer.groupParticipantCount.min"
                v-text="$t('entity.validation.min', { min: 2 })"
              >
                This field should be at least 2.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.volunteer.groupParticipantCount.max"
                v-text="$t('entity.validation.max', { max: 50 })"
              >
                This field cannot be longer than 50 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.volunteer.groupParticipantCount.numeric"
                v-text="$t('entity.validation.number')"
              >
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('foodbankVolunteerRegistrationApp.volunteer.notes')" for="volunteer-notes"
              >Notes</label
            >
            <textarea
              class="form-control"
              name="notes"
              id="volunteer-notes"
              data-cy="notes"
              :class="{ valid: !$v.volunteer.notes.$invalid, invalid: $v.volunteer.notes.$invalid }"
              v-model="$v.volunteer.notes.$model"
            ></textarea>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.volunteer.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./volunteer-update.component.ts"></script>
