<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="volunteer">
        <h2 class="jh-entity-heading" data-cy="volunteerDetailsHeading">
          <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.detail.title')">Volunteer</span> {{ volunteer.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.firstName')">First Name</span>
          </dt>
          <dd>
            <span>{{ volunteer.firstName }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.lastName')">Last Name</span>
          </dt>
          <dd>
            <span>{{ volunteer.lastName }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.age')">Age</span>
          </dt>
          <dd>
            <span>{{ volunteer.age }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.phone')">Phone</span>
          </dt>
          <dd>
            <span>{{ volunteer.phone }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.email')">Email</span>
          </dt>
          <dd>
            <span>{{ volunteer.email }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.isGroup')">Is Group</span>
          </dt>
          <dd>
            <span>{{ volunteer.isGroup }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.groupName')">Group Name</span>
          </dt>
          <dd>
            <span>{{ volunteer.groupName }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.groupParticipantCount')">Group Participant Count</span>
          </dt>
          <dd>
            <span>{{ volunteer.groupParticipantCount }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.volunteer.notes')">Notes</span>
          </dt>
          <dd>
            <span>{{ volunteer.notes }}</span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="volunteer.id"
          :to="{ name: 'VolunteerEdit', params: { volunteerId: volunteer.id } }"
          tag="button"
          class="btn btn-primary"
        >
          <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./volunteer-details.component.ts"></script>
