<template>
  <div>
    <h2 id="page-heading" data-cy="ActivityOccurrenceHeading">
      <span v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.home.title')" id="activity-occurrence-heading"
        >Activity Occurrences</span
      >
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link
          :to="{ name: 'ActivityOccurrenceCreate' }"
          tag="button"
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-activity-occurrence"
        >
          <font-awesome-icon icon="plus"></font-awesome-icon>
          <span v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.home.createLabel')">
            Create a new Activity Occurrence
          </span>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && activityOccurrences && activityOccurrences.length === 0">
      <span v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.home.notFound')">No activityOccurrences found</span>
    </div>
    <div class="table-responsive" v-if="activityOccurrences && activityOccurrences.length > 0">
      <table class="table table-striped" aria-describedby="activityOccurrences">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('startTime')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.startTime')">Start Time</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'startTime'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('endTime')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.endTime')">End Time</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'endTime'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('maxVolunteers')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.maxVolunteers')">Max Volunteers</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'maxVolunteers'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('registeredVolunteers')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.registeredVolunteers')">Registered Volunteers</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'registeredVolunteers'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('activity.name')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.activity')">Activity</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'activity.name'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('location.name')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.location')">Location</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'location.name'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="activityOccurrence in activityOccurrences" :key="activityOccurrence.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ActivityOccurrenceView', params: { activityOccurrenceId: activityOccurrence.id } }">{{
                activityOccurrence.id
              }}</router-link>
            </td>
            <td>{{ activityOccurrence.startTime ? $d(Date.parse(activityOccurrence.startTime), 'short') : '' }}</td>
            <td>{{ activityOccurrence.endTime ? $d(Date.parse(activityOccurrence.endTime), 'short') : '' }}</td>
            <td>{{ activityOccurrence.maxVolunteers }}</td>
            <td>{{ activityOccurrence.registeredVolunteers }}</td>
            <td>
              <div v-if="activityOccurrence.activity">
                <router-link :to="{ name: 'ActivityView', params: { activityId: activityOccurrence.activity.id } }">{{
                  activityOccurrence.activity.name
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="activityOccurrence.location">
                <router-link :to="{ name: 'LocationView', params: { locationId: activityOccurrence.location.id } }">{{
                  activityOccurrence.location.name
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'ActivityOccurrenceView', params: { activityOccurrenceId: activityOccurrence.id } }"
                  tag="button"
                  class="btn btn-info btn-sm details"
                  data-cy="entityDetailsButton"
                >
                  <font-awesome-icon icon="eye"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                </router-link>
                <router-link
                  :to="{ name: 'ActivityOccurrenceEdit', params: { activityOccurrenceId: activityOccurrence.id } }"
                  tag="button"
                  class="btn btn-primary btn-sm edit"
                  data-cy="entityEditButton"
                >
                  <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(activityOccurrence)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="foodbankVolunteerRegistrationApp.activityOccurrence.delete.question"
          data-cy="activityOccurrenceDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p
          id="jhi-delete-activityOccurrence-heading"
          v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.delete.question', { id: removeId })"
        >
          Are you sure you want to delete this Activity Occurrence?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-activityOccurrence"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeActivityOccurrence()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="activityOccurrences && activityOccurrences.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./activity-occurrence.component.ts"></script>
