<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="foodbankVolunteerRegistrationApp.activityOccurrence.home.createOrEditLabel"
          data-cy="ActivityOccurrenceCreateUpdateHeading"
          v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.home.createOrEditLabel')"
        >
          Create or edit a ActivityOccurrence
        </h2>
        <div>
          <div class="form-group" v-if="activityOccurrence.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="activityOccurrence.id" readonly />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.startTime')"
              for="activity-occurrence-startTime"
              >Start Time</label
            >
            <div class="d-flex">
              <input
                id="activity-occurrence-startTime"
                data-cy="startTime"
                type="datetime-local"
                class="form-control"
                name="startTime"
                :class="{ valid: !$v.activityOccurrence.startTime.$invalid, invalid: $v.activityOccurrence.startTime.$invalid }"
                required
                :value="convertDateTimeFromServer($v.activityOccurrence.startTime.$model)"
                @change="updateZonedDateTimeField('startTime', $event)"
              />
            </div>
            <div v-if="$v.activityOccurrence.startTime.$anyDirty && $v.activityOccurrence.startTime.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.activityOccurrence.startTime.required"
                v-text="$t('entity.validation.required')"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.activityOccurrence.startTime.ZonedDateTimelocal"
                v-text="$t('entity.validation.ZonedDateTimelocal')"
              >
                This field should be a date and time.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.endTime')"
              for="activity-occurrence-endTime"
              >End Time</label
            >
            <div class="d-flex">
              <input
                id="activity-occurrence-endTime"
                data-cy="endTime"
                type="datetime-local"
                class="form-control"
                name="endTime"
                :class="{ valid: !$v.activityOccurrence.endTime.$invalid, invalid: $v.activityOccurrence.endTime.$invalid }"
                required
                :value="convertDateTimeFromServer($v.activityOccurrence.endTime.$model)"
                @change="updateZonedDateTimeField('endTime', $event)"
              />
            </div>
            <div v-if="$v.activityOccurrence.endTime.$anyDirty && $v.activityOccurrence.endTime.$invalid">
              <small class="form-text text-danger" v-if="!$v.activityOccurrence.endTime.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.activityOccurrence.endTime.ZonedDateTimelocal"
                v-text="$t('entity.validation.ZonedDateTimelocal')"
              >
                This field should be a date and time.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.maxVolunteers')"
              for="activity-occurrence-maxVolunteers"
              >Max Volunteers</label
            >
            <input
              type="number"
              class="form-control"
              name="maxVolunteers"
              id="activity-occurrence-maxVolunteers"
              data-cy="maxVolunteers"
              :class="{ valid: !$v.activityOccurrence.maxVolunteers.$invalid, invalid: $v.activityOccurrence.maxVolunteers.$invalid }"
              v-model.number="$v.activityOccurrence.maxVolunteers.$model"
              required
            />
            <div v-if="$v.activityOccurrence.maxVolunteers.$anyDirty && $v.activityOccurrence.maxVolunteers.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.activityOccurrence.maxVolunteers.required"
                v-text="$t('entity.validation.required')"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.activityOccurrence.maxVolunteers.min"
                v-text="$t('entity.validation.min', { min: 1 })"
              >
                This field should be at least 1.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.activityOccurrence.maxVolunteers.max"
                v-text="$t('entity.validation.max', { max: 50 })"
              >
                This field cannot be longer than 50 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.activityOccurrence.maxVolunteers.numeric"
                v-text="$t('entity.validation.number')"
              >
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.registeredVolunteers')"
              for="activity-occurrence-registeredVolunteers"
              >Registered Volunteers</label
            >
            <input
              type="number"
              class="form-control"
              name="registeredVolunteers"
              id="activity-occurrence-registeredVolunteers"
              data-cy="registeredVolunteers"
              :class="{
                valid: !$v.activityOccurrence.registeredVolunteers.$invalid,
                invalid: $v.activityOccurrence.registeredVolunteers.$invalid,
              }"
              v-model.number="$v.activityOccurrence.registeredVolunteers.$model"
              required
            />
            <div v-if="$v.activityOccurrence.registeredVolunteers.$anyDirty && $v.activityOccurrence.registeredVolunteers.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.activityOccurrence.registeredVolunteers.required"
                v-text="$t('entity.validation.required')"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.activityOccurrence.registeredVolunteers.min"
                v-text="$t('entity.validation.min', { min: 0 })"
              >
                This field should be at least 0.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.activityOccurrence.registeredVolunteers.max"
                v-text="$t('entity.validation.max', { max: 50 })"
              >
                This field cannot be longer than 50 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.activityOccurrence.registeredVolunteers.numeric"
                v-text="$t('entity.validation.number')"
              >
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.activity')"
              for="activity-occurrence-activity"
              >Activity</label
            >
            <select
              class="form-control"
              id="activity-occurrence-activity"
              data-cy="activity"
              name="activity"
              v-model="activityOccurrence.activity"
              required
            >
              <option v-if="!activityOccurrence.activity" v-bind:value="null" selected></option>
              <option
                v-bind:value="
                  activityOccurrence.activity && activityOption.id === activityOccurrence.activity.id
                    ? activityOccurrence.activity
                    : activityOption
                "
                v-for="activityOption in activities"
                :key="activityOption.id"
              >
                {{ activityOption.name }}
              </option>
            </select>
          </div>
          <div v-if="$v.activityOccurrence.activity.$anyDirty && $v.activityOccurrence.activity.$invalid">
            <small class="form-text text-danger" v-if="!$v.activityOccurrence.activity.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.location')"
              for="activity-occurrence-location"
              >Location</label
            >
            <select
              class="form-control"
              id="activity-occurrence-location"
              data-cy="location"
              name="location"
              v-model="activityOccurrence.location"
              required
            >
              <option v-if="!activityOccurrence.location" v-bind:value="null" selected></option>
              <option
                v-bind:value="
                  activityOccurrence.location && locationOption.id === activityOccurrence.location.id
                    ? activityOccurrence.location
                    : locationOption
                "
                v-for="locationOption in locations"
                :key="locationOption.id"
              >
                {{ locationOption.name }}
              </option>
            </select>
          </div>
          <div v-if="$v.activityOccurrence.location.$anyDirty && $v.activityOccurrence.location.$invalid">
            <small class="form-text text-danger" v-if="!$v.activityOccurrence.location.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.activityOccurrence.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./activity-occurrence-update.component.ts"></script>
