<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="activityOccurrence">
        <h2 class="jh-entity-heading" data-cy="activityOccurrenceDetailsHeading">
          <span v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.detail.title')">ActivityOccurrence</span>
          {{ activityOccurrence.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.startTime')">Start Time</span>
          </dt>
          <dd>
            <span v-if="activityOccurrence.startTime">{{ $d(Date.parse(activityOccurrence.startTime), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.endTime')">End Time</span>
          </dt>
          <dd>
            <span v-if="activityOccurrence.endTime">{{ $d(Date.parse(activityOccurrence.endTime), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.maxVolunteers')">Max Volunteers</span>
          </dt>
          <dd>
            <span>{{ activityOccurrence.maxVolunteers }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.registeredVolunteers')">Registered Volunteers</span>
          </dt>
          <dd>
            <span>{{ activityOccurrence.registeredVolunteers }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.activity')">Activity</span>
          </dt>
          <dd>
            <div v-if="activityOccurrence.activity">
              <router-link :to="{ name: 'ActivityView', params: { activityId: activityOccurrence.activity.id } }">{{
                activityOccurrence.activity.name
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.activityOccurrence.location')">Location</span>
          </dt>
          <dd>
            <div v-if="activityOccurrence.location">
              <router-link :to="{ name: 'LocationView', params: { locationId: activityOccurrence.location.id } }">{{
                activityOccurrence.location.name
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="activityOccurrence.id"
          :to="{ name: 'ActivityOccurrenceEdit', params: { activityOccurrenceId: activityOccurrence.id } }"
          tag="button"
          class="btn btn-primary"
        >
          <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./activity-occurrence-details.component.ts"></script>
