<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="volunteerRegistration">
        <h2 class="jh-entity-heading" data-cy="volunteerRegistrationDetailsHeading">
          <span v-text="$t('foodbankVolunteerRegistrationApp.volunteerRegistration.detail.title')">VolunteerRegistration</span>
          {{ volunteerRegistration.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.volunteerRegistration.registrationTime')">Registration Time</span>
          </dt>
          <dd>
            <span v-if="volunteerRegistration.registrationTime">{{ $d(Date.parse(volunteerRegistration.registrationTime), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.volunteerRegistration.activityOccurrence')">Activity Occurrence</span>
          </dt>
          <dd>
            <div v-if="volunteerRegistration.activityOccurrence">
              <router-link
                :to="{ name: 'ActivityOccurrenceView', params: { activityOccurrenceId: volunteerRegistration.activityOccurrence.id } }"
                >{{ volunteerRegistration.activityOccurrence.startTime }}</router-link
              >
            </div>
          </dd>
          <dt>
            <span v-text="$t('foodbankVolunteerRegistrationApp.volunteerRegistration.volunteer')">Volunteer</span>
          </dt>
          <dd>
            <div v-if="volunteerRegistration.volunteer">
              <router-link :to="{ name: 'VolunteerView', params: { volunteerId: volunteerRegistration.volunteer.id } }">{{
                volunteerRegistration.volunteer.email
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="volunteerRegistration.id"
          :to="{ name: 'VolunteerRegistrationEdit', params: { volunteerRegistrationId: volunteerRegistration.id } }"
          tag="button"
          class="btn btn-primary"
        >
          <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./volunteer-registration-details.component.ts"></script>
