<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="foodbankVolunteerRegistrationApp.volunteerRegistration.home.createOrEditLabel"
          data-cy="VolunteerRegistrationCreateUpdateHeading"
          v-text="$t('foodbankVolunteerRegistrationApp.volunteerRegistration.home.createOrEditLabel')"
        >
          Create or edit a VolunteerRegistration
        </h2>
        <div>
          <div class="form-group" v-if="volunteerRegistration.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="volunteerRegistration.id" readonly />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('foodbankVolunteerRegistrationApp.volunteerRegistration.registrationTime')"
              for="volunteer-registration-registrationTime"
              >Registration Time</label
            >
            <div class="d-flex">
              <input
                id="volunteer-registration-registrationTime"
                data-cy="registrationTime"
                type="datetime-local"
                class="form-control"
                name="registrationTime"
                :class="{
                  valid: !$v.volunteerRegistration.registrationTime.$invalid,
                  invalid: $v.volunteerRegistration.registrationTime.$invalid,
                }"
                required
                :value="convertDateTimeFromServer($v.volunteerRegistration.registrationTime.$model)"
                @change="updateZonedDateTimeField('registrationTime', $event)"
              />
            </div>
            <div v-if="$v.volunteerRegistration.registrationTime.$anyDirty && $v.volunteerRegistration.registrationTime.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.volunteerRegistration.registrationTime.required"
                v-text="$t('entity.validation.required')"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.volunteerRegistration.registrationTime.ZonedDateTimelocal"
                v-text="$t('entity.validation.ZonedDateTimelocal')"
              >
                This field should be a date and time.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('foodbankVolunteerRegistrationApp.volunteerRegistration.activityOccurrence')"
              for="volunteer-registration-activityOccurrence"
              >Activity Occurrence</label
            >
            <select
              class="form-control"
              id="volunteer-registration-activityOccurrence"
              data-cy="activityOccurrence"
              name="activityOccurrence"
              v-model="volunteerRegistration.activityOccurrence"
              required
            >
              <option v-if="!volunteerRegistration.activityOccurrence" v-bind:value="null" selected></option>
              <option
                v-bind:value="
                  volunteerRegistration.activityOccurrence && activityOccurrenceOption.id === volunteerRegistration.activityOccurrence.id
                    ? volunteerRegistration.activityOccurrence
                    : activityOccurrenceOption
                "
                v-for="activityOccurrenceOption in activityOccurrences"
                :key="activityOccurrenceOption.id"
              >
                {{ activityOccurrenceOption.startTime }}
              </option>
            </select>
          </div>
          <div v-if="$v.volunteerRegistration.activityOccurrence.$anyDirty && $v.volunteerRegistration.activityOccurrence.$invalid">
            <small
              class="form-text text-danger"
              v-if="!$v.volunteerRegistration.activityOccurrence.required"
              v-text="$t('entity.validation.required')"
            >
              This field is required.
            </small>
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('foodbankVolunteerRegistrationApp.volunteerRegistration.volunteer')"
              for="volunteer-registration-volunteer"
              >Volunteer</label
            >
            <select
              class="form-control"
              id="volunteer-registration-volunteer"
              data-cy="volunteer"
              name="volunteer"
              v-model="volunteerRegistration.volunteer"
              required
            >
              <option v-if="!volunteerRegistration.volunteer" v-bind:value="null" selected></option>
              <option
                v-bind:value="
                  volunteerRegistration.volunteer && volunteerOption.id === volunteerRegistration.volunteer.id
                    ? volunteerRegistration.volunteer
                    : volunteerOption
                "
                v-for="volunteerOption in volunteers"
                :key="volunteerOption.id"
              >
                {{ volunteerOption.email }}
              </option>
            </select>
          </div>
          <div v-if="$v.volunteerRegistration.volunteer.$anyDirty && $v.volunteerRegistration.volunteer.$invalid">
            <small
              class="form-text text-danger"
              v-if="!$v.volunteerRegistration.volunteer.required"
              v-text="$t('entity.validation.required')"
            >
              This field is required.
            </small>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.volunteerRegistration.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./volunteer-registration-update.component.ts"></script>
