<template>
  <div>
    <h2 id="page-heading" data-cy="VolunteerRegistrationHeading">
      <span v-text="$t('foodbankVolunteerRegistrationApp.volunteerRegistration.home.title')" id="volunteer-registration-heading"
        >Volunteer Registrations</span
      >
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('foodbankVolunteerRegistrationApp.volunteerRegistration.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link
          :to="{ name: 'VolunteerRegistrationCreate' }"
          tag="button"
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-volunteer-registration"
        >
          <font-awesome-icon icon="plus"></font-awesome-icon>
          <span v-text="$t('foodbankVolunteerRegistrationApp.volunteerRegistration.home.createLabel')">
            Create a new Volunteer Registration
          </span>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && volunteerRegistrations && volunteerRegistrations.length === 0">
      <span v-text="$t('foodbankVolunteerRegistrationApp.volunteerRegistration.home.notFound')">No volunteerRegistrations found</span>
    </div>
    <div class="table-responsive" v-if="volunteerRegistrations && volunteerRegistrations.length > 0">
      <table class="table table-striped" aria-describedby="volunteerRegistrations">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('registrationTime')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.volunteerRegistration.registrationTime')">Registration Time</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'registrationTime'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('activityOccurrence.startTime')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.volunteerRegistration.activityOccurrence')">Activity Occurrence</span>
              <jhi-sort-indicator
                :current-order="propOrder"
                :reverse="reverse"
                :field-name="'activityOccurrence.startTime'"
              ></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('volunteer.email')">
              <span v-text="$t('foodbankVolunteerRegistrationApp.volunteerRegistration.volunteer')">Volunteer</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'volunteer.email'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="volunteerRegistration in volunteerRegistrations" :key="volunteerRegistration.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'VolunteerRegistrationView', params: { volunteerRegistrationId: volunteerRegistration.id } }">{{
                volunteerRegistration.id
              }}</router-link>
            </td>
            <td>{{ volunteerRegistration.registrationTime ? $d(Date.parse(volunteerRegistration.registrationTime), 'short') : '' }}</td>
            <td>
              <div v-if="volunteerRegistration.activityOccurrence">
                <router-link
                  :to="{ name: 'ActivityOccurrenceView', params: { activityOccurrenceId: volunteerRegistration.activityOccurrence.id } }"
                  >{{ volunteerRegistration.activityOccurrence.startTime }}</router-link
                >
              </div>
            </td>
            <td>
              <div v-if="volunteerRegistration.volunteer">
                <router-link :to="{ name: 'VolunteerView', params: { volunteerId: volunteerRegistration.volunteer.id } }">{{
                  volunteerRegistration.volunteer.email
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link
                  :to="{ name: 'VolunteerRegistrationView', params: { volunteerRegistrationId: volunteerRegistration.id } }"
                  tag="button"
                  class="btn btn-info btn-sm details"
                  data-cy="entityDetailsButton"
                >
                  <font-awesome-icon icon="eye"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                </router-link>
                <router-link
                  :to="{ name: 'VolunteerRegistrationEdit', params: { volunteerRegistrationId: volunteerRegistration.id } }"
                  tag="button"
                  class="btn btn-primary btn-sm edit"
                  data-cy="entityEditButton"
                >
                  <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(volunteerRegistration)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span
          id="foodbankVolunteerRegistrationApp.volunteerRegistration.delete.question"
          data-cy="volunteerRegistrationDeleteDialogHeading"
          v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p
          id="jhi-delete-volunteerRegistration-heading"
          v-text="$t('foodbankVolunteerRegistrationApp.volunteerRegistration.delete.question', { id: removeId })"
        >
          Are you sure you want to delete this Volunteer Registration?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-volunteerRegistration"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeVolunteerRegistration()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="volunteerRegistrations && volunteerRegistrations.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./volunteer-registration.component.ts"></script>
